name: CI/CD Pipeline

on:
  push:
    branches: [ "main", "master" ]

jobs:
  sonarqube:
    name: SonarQube Analysis
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: SonarQube Scan
        uses: sonarsource/sonarqube-scan-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        with:
          # Пишем в одну строку, чтобы исключить ошибки отступов
          args: -Dsonar.projectKey=diploma-project

  deploy:
    needs: sonarqube
    name: Deploy to Servers
    runs-on: ubuntu-latest
    if: success()
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup SSH Key
        run: |
          mkdir -p ~/.ssh/
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519

      - name: Create Inventory File
        run: |
          echo "${{ secrets.ANSIBLE_INVENTORY }}" > ansible/hosts.ini

      - name: Install Ansible
        run: pip install ansible

      - name: Run Ansible Playbook
        env:
          ANSIBLE_HOST_KEY_CHECKING: "False"
        run: |
          cd ansible
          ansible-playbook -i hosts.ini install_docker.yml --private-key ~/.ssh/id_ed25519
